---
import Main from '../../components/Main.astro';
import Navbar from '../../components/Navbar.astro';
import Layout from '../../layouts/Layout.astro';

import { useTranslations } from '../../i18n/utils';
import { languageList } from '../../i18n/ui';

const currentLang = Astro.currentLocale || 'en';
const translateStrings = useTranslations(currentLang as keyof typeof languageList);
---

<Layout>
  <main class='w-full flex flex-col justify-center items-center'>
    <Navbar translateStrings={translateStrings} />
    <Main translateStrings={translateStrings} />
  </main>
</Layout>
