---
import Grid from '../components/Grid.astro';
import Navbar from '../components/Navbar.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <main class='w-full flex flex-col justify-center items-center'>
    <Navbar />
    <Grid />
  </main>
</Layout>
