---
const { translateStrings } = Astro.props;
---

<section
  class='card-global w-full scroll-m-16 text-center'
  id='aboutme'
>
  <h2 class='card-title mb-6'>{translateStrings('aboutme.title')}</h2>
  <p class='text-pretty'>
    {translateStrings('aboutme.p1')}
  </p>
  <p class='text-pretty'>{translateStrings('aboutme.p2')}</p>
  <p class='text-pretty'>
    {translateStrings('aboutme.p3')}
  </p>
  <p>{translateStrings('aboutme.p4')}</p>
</section>
