<section
  class='card-global w-full col-span-4 text-center'
  id='aboutme'
>
  <h2 class='card-title mb-6'>About Me</h2>
  <p class='text-pretty'>
    After spending some time in college studying economics, I realized that the IT industry is my thing.
  </p>
  <p class='text-pretty'>Since then, I've been learning about software development, mostly as a self taught student.</p>
  <p class='text-pretty'>
    I usually work with React, but I'm open to learning and working with any other technology if needed.
  </p>
  <p>Also, I'm fully able to communicate and work in both Spanish and English.</p>
</section>
