---
const { translateStrings } = Astro.props;
---

<section class='card-global w-full'>
  <h2 class='card-title mb-6'>{translateStrings('certifications.title')}</h2>
  <div class='card-item flex-col w-fit'>
    <p class='opacity-90 text-sm'>2023</p>
    <p class='text-lg text-center'>Oracle Next Education Front-end</p>
  </div>
</section>
