<section class='card-global max-w-md h-full col-span-2'>
  <h2 class='card-title mb-6'>Certifications</h2>
  <div class='card-item flex-col w-full'>
    <p class='opacity-90 text-sm'>2023</p>
    <p class='text-lg'>Oracle Next Education Front-end</p>
  </div>
</section>
