<section class='card-global max-w-4xl col-span-4'>
  <h2 class='card-title mb-3'>Contact Me</h2>
  <p class='mb-12 font-light text-center opacity-80'>
    Got a job offer? Want me to be part of your team? Just liked my portfolio? Let me know.
  </p>
  <form
    action='#'
    class='w-full space-y-6'
  >
    <div>
      <label
        for='email'
        class='block mb-2 text-sm font-medium text-neutral-300'
        >Your email</label
      >
      <input
        type='email'
        id='email'
        class='w-full block p-2.5 text-sm bg-endeavour-950 border border-endeavour-300 rounded-lg outline-none focus:ring-2 focus:ring-endeavour-300 placeholder-neutral-400 shadow-sm'
        placeholder='recruiter@email.com'
        required
      />
    </div>
    <div>
      <label
        for='subject'
        class='block mb-2 text-sm font-medium text-neutral-300'
        >Subject</label
      >
      <input
        type='text'
        id='subject'
        class='w-full block p-3 text-sm bg-endeavour-950 border border-endeavour-300 rounded-lg outline-none focus:ring-2 focus:ring-endeavour-300 placeholder-neutral-400 shadow-sm'
        placeholder='Let me know how I can help you'
        required
      />
    </div>
    <div class='sm:col-span-2'>
      <label
        for='message'
        class='block mb-2 text-sm font-medium text-neutral-300'
        >Your message</label
      >
      <textarea
        id='message'
        rows='6'
        class='w-full block p-2.5 text-sm bg-endeavour-950 border border-endeavour-300 rounded-lg outline-none focus:ring-2 focus:ring-endeavour-300 placeholder-neutral-400 shadow-sm'
        placeholder='The details of your offer...'
      ></textarea>
    </div>
    <button
      type='submit'
      class='sm:w-fit py-3 px-5 text-sm text-center font-medium rounded-lg border border-endeavour-600 bg-endeavour-500 hover:bg-endeavour-600 active:bg-endeavour-700 transition duration-200'
      >Send message</button
    >
  </form>
</section>
