---
const { translateStrings } = Astro.props;
---

<footer class='card-global w-full text-sm'>
  <div class='flex flex-col gap-6'>
    <p class='font-light text-center opacity-80'>
      {translateStrings('footer.text')}
    </p>

    <div class='flex justify-center items-center gap-3 max-sm:flex-col'>
      <a
        href='mailto:joseiriartedev@gmail.com'
        target='_blank'
        rel='noopener noreferrer'
        class='flex justify-center items-center gap-1 font-medium hover:text-endeavour-400 transition duration-200'
        >Email</a
      >
      <a
        href='https://www.linkedin.com/in/jose-iriarte-/'
        target='_blank'
        rel='noopener noreferrer'
        class='flex justify-center items-center gap-1 font-medium hover:text-endeavour-400 transition duration-200'
        >LinkedIn</a
      >
    </div>
  </div>
</footer>
