<section class='card-global max-w-md h-full col-span-2'>
  <h2 class='card-title mb-6'>Languages</h2>

  <div class='flex flex-col justify-center items-center gap-3'>
    <div class='card-item w-60'>
      <img
        src='./argentina.svg'
        alt='Argentina'
        width='30'
      />
      <p class='text-lg'>Spanish (Native)</p>
    </div>
    <div class='card-item w-60'>
      <img
        src='./usa.svg'
        alt='USA'
        width='30'
      />
      <p class='text-lg'>English (B2)</p>
    </div>
  </div>
</section>
