<nav class='w-full flex justify-center fixed z-20 top-0 start-0'>
  <ul class='w-fit flex gap-3 py-2 px-3 mt-3 border border-endeavour-200 rounded-full bg-endeavour-800 font-medium'>
    <li>
      <a
        href='#projects'
        class='hover:text-endeavour-400 transition duration-150'
        >Projects</a
      >
    </li>
    <li>
      <a
        href='#skills'
        class='hover:text-endeavour-400 transition duration-150'
        >Skills</a
      >
    </li>
    <li>
      <a
        href='#aboutme'
        class='hover:text-endeavour-400 transition duration-150'
        aria-current='page'
        >About me</a
      >
    </li>
    <li>
      <a
        href='#'
        class='hover:text-endeavour-400 transition duration-150'
        >Contact</a
      >
    </li>
  </ul>
</nav>
<!-- <script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
      const targetElement = document.querySelector(this.getAttribute('href'));
      window.scrollTo({
        top: targetElement.offsetTop,
        behavior: 'smooth',
      });
    });
  });
</script> -->
