---
const { translateStrings } = Astro.props;
---

<nav class='w-full flex justify-center fixed z-20 top-0 start-0'>
  <ul class='w-fit flex gap-3 py-2 px-3 mt-3 border border-endeavour-200 rounded-full bg-endeavour-800 font-medium'>
    <li>
      <a
        href='#projects'
        class='hover:text-endeavour-400 transition duration-150'
        >{translateStrings('navbar.1')}</a
      >
    </li>
    <li>
      <a
        href='#skills'
        class='hover:text-endeavour-400 transition duration-150'
        >{translateStrings('navbar.2')}</a
      >
    </li>
    <li>
      <a
        href='#aboutme'
        class='hover:text-endeavour-400 transition duration-150'
        aria-current='page'
        >{translateStrings('navbar.3')}</a
      >
    </li>
  </ul>
</nav>
