---
import Skill from './Skill.astro';
---

<section
  class='card-global w-full col-span-4'
  id='skills'
>
  <h2 class='card-title mb-12'>Skills</h2>
  <div class='w-full flex flex-wrap justify-center items-center gap-6'>
    <Skill
      name='HTML'
      img='html'
    />
    <Skill
      name='CSS'
      img='css'
    />
    <Skill
      name='JavaScript'
      img='javascript'
    />
    <!-- <Skill
      name='TypeScript'
      img='typescript'
    /> -->
    <Skill
      name='React'
      img='react'
    />
    <Skill
      name='Astro'
      img='astro'
    />
    <Skill
      name='Tailwind CSS'
      img='tailwind'
    />
    <Skill
      name='Git'
      img='git'
    />
    <Skill
      name='GitHub'
      img='github'
    />
  </div>
</section>
